<section class="logo-list-one-module px-[5%] py-12 md:py-16 lg:py-20">
  <div class="container">
    {% inline_rich_text field="heading" value="{{ module.heading }}" %}
    <div class="flex flex-wrap items-center justify-center gap-x-8 gap-y-4 pb-2 pt-4 md:pt-2">
      {% for item in module.logos %}

        {% if item.image_field.src %}

          {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}

            <img class="max-h-12 md:max-h-14"
                srcset="{{ resize_image_url(item.image_field.src, 288) }} 288w,
                        {{ resize_image_url(item.image_field.src, 468) }} 468w,
                        {{ resize_image_url(item.image_field.src, 736) }} 736w"
                sizes="(max-width: 320px) 288px,
                       (max-width: 500px) 468px,
                       (max-width: 768px) 736px"
                src="{{ item.image_field.src }}"
                alt="{{ item.image_field.alt }}"
                width="{{ item.image_field.width }}"
                height="{{ item.image_field.height }}"
            {{ loadingAttr }}>
          
        {% endif %}

      {% endfor %}
    </div>
  </div>
</section>
