{####################################################}
{################# Module styles ####################}
{####################################################}
{% require_css %}
  <style>
    {% scope_css %}

      {# Card Styles #}
      {% if module.styles.card %}
        .feature-bento-module__card {
          {% if module.styles.card.background.bg_color %}
            background-color: rgba({{ module.styles.card.background.bg_color.color|convert_rgb }}, {{ module.styles.card.background.bg_color.opacity / 100 }});
          {% endif %}
          {% if module.styles.card.border.border %}
            {{ module.styles.card.border.border.css }}
          {% endif %}
          {% if module.styles.card.corner %}
            border-top-left-radius: {{ module.styles.card.corner.top_left_radius ~ "px" }};
            border-top-right-radius: {{ module.styles.card.corner.top_right_radius ~ "px" }};
            border-bottom-left-radius: {{ module.styles.card.corner.bottom_left_radius ~ "px" }};
            border-bottom-right-radius: {{ module.styles.card.corner.bottom_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.card.box_shadow.box_shadow %}
            box-shadow: {{ module.styles.card.box_shadow.box_shadow }};
          {% endif %}
        }
      {% endif %}
      {% if module.styles.card.hover %}
        .feature-bento-module__card:hover {
          {% if module.styles.card.hover.box_shadow.box_shadow %}
            box-shadow: {{ module.styles.card.hover.box_shadow.box_shadow }};
          {% endif %}
          {% if module.styles.card.hover.background.bg_color %}
            background-color: rgba({{ module.styles.card.hover.background.bg_color.color|convert_rgb }}, {{ module.styles.card.hover.background.bg_color.opacity / 100 }});
          {% endif %}
        }
      {% endif %}

      {# Image Styles #}
      {% if module.styles.image %}
        .feature-bento-module__image {
          {% if module.styles.image.corner %}
            border-top-left-radius: {{ module.styles.image.image.corner.top_left_radius ~ "px" }};
            border-top-right-radius: {{ module.styles.image.image.corner.top_right_radius ~ "px" }};
            border-bottom-left-radius: {{ module.styles.image.image.corner.bottom_left_radius ~ "px" }};
            border-bottom-right-radius: {{ module.styles.image.image.corner.bottom_right_radius ~ "px" }};
          {% endif %}
        }
      {% endif %}

      {# Button Styles #}
      {% if module.styles.button %}
        {% if module.styles.button.alignment.alignment %}
          .feature-bento-module__button-wrapper {
            text-align: {{ module.styles.button.alignment.alignment.horizontal_align }};
          }
        {% endif %}
        .feature-bento-module__button {
          {% if module.styles.button.alignment.is_full_width %}
              width: 100%;
          {% endif %}
          {% if module.styles.button.background.color.color %}
            background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
          {% endif %}
          {% if module.styles.button.corner.top_left_radius >= 0 %}
            border-top-left-radius: {{ module.styles.button.corner.top_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.corner.top_right_radius >= 0 %}
            border-top-right-radius: {{ module.styles.button.corner.top_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.corner.bottom_left_radius >= 0 %}
            border-bottom-left-radius: {{ module.styles.button.corner.bottom_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.corner.bottom_right_radius >= 0 %}
            border-bottom-right-radius: {{ module.styles.button.corner.bottom_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.text.font %}
            {{ module.styles.button.text.font.css }}
          {% endif %}
          {% if module.styles.button.text.transform %}
            text-transform: {{ module.styles.button.text.transform }};
          {% endif %}
          {% if module.styles.button.border.border %}
            {{ module.styles.button.border.border.css }}
          {% endif %}
          {{ module.styles.button.spacing.spacing.css }}
        }
      {% endif %}
      {% if module.styles.button.hover %}
        .feature-bento-module__button:hover,
        .feature-bento-module__button:focus,
        .feature-bento-module__button:active {
          {% if module.styles.button.hover.text.color.color %}
            color: rgba({{ module.styles.button.hover.text.color.color|convert_rgb }}, {{ module.styles.button.hover.text.color.opacity / 100 }});
          {% endif %}
          {% if module.styles.button.hover.background.color.color %}
            background-color: rgba({{ module.styles.button.hover.background.color.color|convert_rgb }}, {{ module.styles.button.hover.background.color.opacity / 100 }});
          {% endif %}
          {% if module.styles.button.hover.border.border %}
            {{ module.styles.button.hover.border.border.css }}
          {% endif %}
          {% if module.styles.button.hover.corner.top_left_radius >= 0 %}
            border-top-left-radius: {{ module.styles.button.hover.corner.top_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.hover.corner.top_right_radius >= 0 %}
            border-top-right-radius: {{ module.styles.button.hover.corner.top_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.hover.corner.bottom_left_radius >= 0 %}
            border-bottom-left-radius: {{ module.styles.button.hover.corner.bottom_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.button.hover.corner.bottom_right_radius >= 0 %}
            border-bottom-right-radius: {{ module.styles.button.hover.corner.bottom_right_radius ~ "px" }};
          {% endif %}
        }
      {% endif %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{% set alignment_class = '' %}
{% if module.styles.alignment.horizontal_align == 'CENTER' %}
    {% set alignment_class = 'flex flex-col items-center text-center mx-auto' %}
{% elif module.styles.alignment.horizontal_align == 'LEFT' %}
    {% set alignment_class = 'flex flex-col items-start text-left mr-auto' %}
{% elif module.styles.alignment.horizontal_align == 'RIGHT' %}
    {% set alignment_class = 'flex flex-col items-end text-right ml-auto' %}
{% endif %}

{####################################################}
{################ Module layout ###################}
{####################################################}

<section class="feature-bento-module px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="mb-12 md:mb-18 lg:mb-20">
      <div class="max-w-lg {{ alignment_class }}">
        {% inline_rich_text field="tagline" value="{{ module.tagline }}" %}
        {% inline_rich_text field="heading" value="{{ module.heading }}" %}
        {% inline_rich_text field="content" value="{{ module.content }}" %}
      </div>
    </div>
    <div class="grid grid-cols-1 gap-6 md:gap-8">
      <div class="grid grid-cols-1 gap-6 md:gap-8 lg:grid-cols-2">
      {% for item in module.feature_item %}

        {% if item.hs_meta.occurrence.featured %}
          <div class="feature-bento-module__card order-first flex flex-col items-stretch lg:order-none lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-3 transition-all overflow-hidden">
            <div>
              {% if item.feature_image.src %}
                  {% set loadingAttr = item.feature_image.loading != 'disabled' ? 'loading="{{ item.feature_image.loading|escape_attr }}"' : '' %}
                  <img class="feature-bento-module__image w-full object-cover"
                      srcset="{{ resize_image_url(item.feature_image.src, 288) }} 288w,
                              {{ resize_image_url(item.feature_image.src, 468) }} 468w,
                              {{ resize_image_url(item.feature_image.src, 736) }} 736w"
                      sizes="(max-width: 320px) 288px,
                            (max-width: 500px) 468px,
                            (max-width: 768px) 736px"
                      src="{{ item.feature_image.src }}"
                      alt="{{ item.feature_image.alt }}"
                      width="{{ item.feature_image.width }}"
                      height="{{ item.feature_image.height }}"
                      {{ loadingAttr }}>
              {% endif %}
            </div>
            <div class="block flex-1 flex-col items-stretch justify-center p-6 md:flex md:p-8 lg:p-12">
              <div>
                {% inline_rich_text field="feature_content" value="{{ item.feature_content }}" no_wrapper=true %}
              </div>
              {% if item.add_button %}
                <div class="feature-bento-module__button-wrapper mt-6 md:mt-8">
                  {% set href = item.feature_link.url.href %}
                  {% if item.feature_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  <a class="button feature-bento-module__button"
                    {% if item.feature_link.url.type is equalto "CALL_TO_ACTION"  %}
                      href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
                    {% else %}
                      href="{{ href|escape_url }}"
                    {% endif %}
                    {% if item.feature_link.open_in_new_tab %}
                      target="_blank"
                    {% endif %}
                    {% if item.feature_link.rel %}
                      rel="{{ item.feature_link.rel|escape_attr }}"
                    {% endif %}
                    >
                      {{ item.link_text|escape_html }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% else %}
          <div class="feature-bento-module__card order-last flex flex-col md:grid md:grid-cols-2 lg:order-none transition-all overflow-hidden">
            <div class="flex w-full items-center justify-center">
              {% if item.feature_image.src %}
                {% set loadingAttr = item.feature_image.loading != 'disabled' ? 'loading="{{ item.feature_image.loading|escape_attr }}"' : '' %}
                <img class="feature-bento-module__image w-full h-full object-cover"
                    srcset="{{ resize_image_url(item.feature_image.src, 288) }} 288w,
                            {{ resize_image_url(item.feature_image.src, 468) }} 468w"
                    sizes="(max-width: 320px) 288px,
                            (max-width: 500px) 468px"
                    src="{{ item.feature_image.src }}"
                    alt="{{ item.feature_image.alt }}"
                    width="{{ item.feature_image.width }}"
                    height="{{ item.feature_image.height }}"
                    {{ loadingAttr }}>
              {% endif %}
            </div>
            <div class="block flex-col justify-center p-6 md:flex">
              <div>
                {% inline_rich_text field="feature_content" value="{{ item.feature_content }}" no_wrapper=true %}
              </div>
              {% if item.add_button %}
                <div class="feature-bento-module__button-wrapper mt-5 md:mt-6">
                  {% set href = item.feature_link.url.href %}
                  {% if item.feature_link.url.type is equalto "EMAIL_ADDRESS" %}
                    {% set href = "mailto:" + href %}
                  {% endif %}
                  <a class="button feature-bento-module__button"
                    {% if item.feature_link.url.type is equalto "CALL_TO_ACTION"  %}
                      href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
                    {% else %}
                      href="{{ href|escape_url }}"
                    {% endif %}
                    {% if item.feature_link.open_in_new_tab %}
                      target="_blank"
                    {% endif %}
                    {% if item.feature_link.rel %}
                      rel="{{ item.feature_link.rel|escape_attr }}"
                    {% endif %}
                    >
                      {{ item.link_text|escape_html }}
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

      {% endfor %}
      </div>
    </div>
  </div>
</section>