<!--
  templateType: global_partial
  label: Website header
-->

{% macro add_lang_switcher() %} 
	{% module "language-switcher" 
		path="@hubspot/language_switcher", 
		label="Language switcher",
		display_mode="localized",
		add_chevron_down=true, 
		icon_options="icon"
	%} 
{% endmacro %}

<header id="site-header" class="header-one">
	{# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation #}
	<a href="#main-content" class="header-one__skip">Skip to content</a>
	{% dnd_area "header_top"
		label="Header Top",
		class="header-one__dnd-area-top"
	%}
		{% dnd_section
			full_width=true,
			padding={
				"default": {
					"top": 0,
					"right": 0,
					"bottom": 0,
					"left": 0
				},
				"mobile": {
					"top": 0,
					"right": 0,
					"bottom": 0,
					"left": 0
				}
			}
		%}
			{% dnd_column
				offset=0,
				width=12,
				padding={
					"default" : {
						"bottom" : 0,
						"left" : 0,
						"right" : 0,
						"top" : 0
					},
					"mobile" : {
						"bottom" : 0,
						"left" : 0,
						"right" : 0,
						"top" : 0
					}
				}
			%}

				{% dnd_row %}

				{% end_dnd_row %}
			{% end_dnd_column %}
		{% end_dnd_section %}
	{% end_dnd_area %}
	<nav class="flex w-full items-center lg:min-h-18 lg:px-[5%]">
		<div class="size-full lg:flex lg:items-center lg:justify-between">
			<div class="header-one__trigger-container flex min-h-16 items-center justify-between px-[5%] md:min-h-18 lg:min-h-full lg:px-0">
				{% module "header-one--site-logo" label="Site Logo" path="@hubspot/logo" img={ "loading": "eager" } %}
				<button class="header-one__menu-trigger no-button -mr-2 flex size-12 flex-col items-center justify-center lg:hidden" data-menu-state="closed">
					<span class="my-[3px] h-0.5 w-6 bg-black" style="will-change: transform"></span>
					<span class="my-[3px] h-0.5 w-6 bg-black"></span>
					<span class="my-[3px] h-0.5 w-6 bg-black" style="will-change: transform"></span>
				</button>
			</div>
			<div class="header-one__menu-container px-[5%] hidden lg:flex lg:items-center lg:px-0 lg:[--height-closed:auto] lg:[--height-open:auto]" style="height: var(--height-closed)">
				{% module "menu-one--navigation-primary" path="../../modules/menu-one", label="Primary navigation" %}

				{% if theme.header.manage_buttons.is_buttons %}
					<div class="mt-6 flex flex-col items-center gap-6 lg:gap-4 lg:ml-4 lg:mt-0 lg:flex-row">
						{% module "header-one--button-one" 
							path="../../modules/button", 
							label="Header Button One", 
							button_text="Button", 
							extra_classes="w-full"
						%}
						{% if theme.header.manage_buttons.is_two_buttons %}
								{% module "header-one--button-two" path="../../modules/button", label="Header Button Two", button_text="Button", extra_classes="w-full" %}
						{% endif %}
					</div>
				{% endif %}

				{% if content.translated_content.values()|selectattr("published")|length or is_listing_view and group.translations %}
					<div class="header-one__language-switcher mt-6 lg:mt-0 lg:ml-4">
						{{ add_lang_switcher() }}
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
</header>




