<section class="px-[5%] py-16 md:py-24 lg:py-28">
  <div
    class="container grid w-full grid-cols-1 items-start justify-between gap-6 md:grid-cols-[1fr_max-content] md:gap-x-12 md:gap-y-8 lg:gap-x-20"
  >
    <div class="md:mr-12 lg:mr-0">
      <div class="w-full max-w-lg">
        {% inline_rich_text field="title" value="{{ module.title }}" %}
        {% inline_rich_text field="content" value="{{ module.content }}" %}
      </div>
    </div>
    <div class="flex items-start justify-start gap-4">
        {% if module.is_button %}
            {% set href_one = module.button_group.link_one.url.href %}
            {% if module.button_group.link_one.url.type == "EMAIL_ADDRESS" %}
                {% set href_one = "mailto:" + href_one %}
            {% endif %}
            {% set rel = [] %}
            {% if module.button_group.link_one.no_follow %}
                {% do rel.append("nofollow") %}
            {% endif %}
            {% if module.button_group.link_one.open_in_new_tab %}
                {% do rel.append("noopener") %}
            {% endif %}

            <a class="button" href="{{ href_one|escape_url }}"
                {% if module.button_group.link_one.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel|join(" ")|escape_attr }}"{% endif %}
            >
                {{ module.button_group.button_text_one|escape_html }}
            </a>
        {% endif %}
        {% if module.is_button and module.is_second_button %}
            {% set href_two = module.button_group_two.link_two.url.href %}
            {% if module.button_group_two.link_two.url.type == "EMAIL_ADDRESS" %}
                {% set href_two = "mailto:" + href_two %}
            {% endif %}
            {% set rel = [] %}
            {% if module.button_group_two.link_two.no_follow %}
                {% do rel.append("nofollow") %}
            {% endif %}
            {% if module.button_group_two.link_two.open_in_new_tab %}
                {% do rel.append("noopener") %}
            {% endif %}

            <a class="button alternate-button" href="{{ href_two|escape_url }}"
                {% if module.button_group_two.link_two.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel|join(" ")|escape_attr }}"{% endif %}
            >
                {{ module.button_group_two.button_text_two|escape_html }}
            </a>
        {% endif %}
    </div>
  </div>
</section>

