{####################################################}
{################# Module styles ####################}
{####################################################}

{% require_css %}
    <style>
        {% scope_css %}

          {# Image Styles #}

          {% if module.styles.image.corner %}
            .hero-image-grid-loop-module__image {
              border-top-left-radius: {{ module.styles.image.corner.top_left_radius ~ "px" }};
              border-top-right-radius: {{ module.styles.image.corner.top_right_radius ~ "px" }};
              border-bottom-left-radius: {{ module.styles.image.corner.bottom_left_radius ~ "px" }};
              border-bottom-right-radius: {{ module.styles.image.corner.bottom_right_radius ~ "px" }};
            }
          {% endif %}


          {# Button Styles #}

          .hero-image-grid-loop-module__button {
            {% if module.styles.button.background.color.color %}
              background-color: rgba({{ module.styles.button.background.color.color|convert_rgb }}, {{ module.styles.button.background.color.opacity / 100 }});
            {% endif %}
            {% if module.styles.button.corner.top_left_radius >= 0 %}
              border-top-left-radius: {{ module.styles.button.corner.top_left_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.corner.top_right_radius >= 0 %}
              border-top-right-radius: {{ module.styles.button.corner.top_right_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.corner.bottom_left_radius >= 0 %}
              border-bottom-left-radius: {{ module.styles.button.corner.bottom_left_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.corner.bottom_right_radius >= 0 %}
              border-bottom-right-radius: {{ module.styles.button.corner.bottom_right_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.text.font %}
              {{ module.styles.button.text.font.css }}
            {% endif %}
            {% if module.styles.button.text.transform %}
              text-transform: {{ module.styles.button.text.transform }};
            {% endif %}
            {% if module.styles.button.border.border %}
              {{ module.styles.button.border.border.css }}
            {% endif %}
            {{ module.styles.button.spacing.spacing.css }}
          }

          .hero-image-grid-loop-module__button:hover,
          .hero-image-grid-loop-module__button:focus,
          .hero-image-grid-loop-module__button:active {
            {% if module.styles.button.hover.text.color.color %}
              color: rgba({{ module.styles.button.hover.text.color.color|convert_rgb }}, {{ module.styles.button.hover.text.color.opacity / 100 }});
            {% endif %}
            {% if module.styles.button.hover.background.color.color %}
              background-color: rgba({{ module.styles.button.hover.background.color.color|convert_rgb }}, {{ module.styles.button.hover.background.color.opacity / 100 }});
            {% endif %}
            {% if module.styles.button.hover.border.border %}
              {{ module.styles.button.hover.border.border.css }}
            {% endif %}
            {% if module.styles.button.hover.corner.top_left_radius >= 0 %}
              border-top-left-radius: {{ module.styles.button.hover.corner.top_left_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.hover.corner.top_right_radius >= 0 %}
              border-top-right-radius: {{ module.styles.button.hover.corner.top_right_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.hover.corner.bottom_left_radius >= 0 %}
              border-bottom-left-radius: {{ module.styles.button.hover.corner.bottom_left_radius ~ "px" }};
            {% endif %}
            {% if module.styles.button.hover.corner.bottom_right_radius >= 0 %}
              border-bottom-right-radius: {{ module.styles.button.hover.corner.bottom_right_radius ~ "px" }};
            {% endif %}
          }


          {# Alt Button Styles #}

          .hero-image-grid-loop-module__alt-button {
          {% if module.styles.alt_button.background.color.color %}
            background-color: rgba({{ module.styles.alt_button.background.color.color|convert_rgb }}, {{ module.styles.alt_button.background.color.opacity / 100 }});
          {% endif %}
          {% if module.styles.alt_button.corner.top_left_radius >= 0 %}
            border-top-left-radius: {{ module.styles.alt_button.corner.top_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.corner.top_right_radius >= 0 %}
            border-top-right-radius: {{ module.styles.alt_button.corner.top_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.corner.bottom_left_radius >= 0 %}
            border-bottom-left-radius: {{ module.styles.alt_button.corner.bottom_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.corner.bottom_right_radius >= 0 %}
            border-bottom-right-radius: {{ module.styles.alt_button.corner.bottom_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.text.font %}
            {{ module.styles.alt_button.text.font.css }}
          {% endif %}
          {% if module.styles.alt_button.text.transform %}
            text-transform: {{ module.styles.alt_button.text.transform }};
          {% endif %}
          {% if module.styles.alt_button.border.border %}
            {{ module.styles.alt_button.border.border.css }}
          {% endif %}
          {{ module.styles.alt_button.spacing.spacing.css }}
        }

        .hero-image-grid-loop-module__alt-button:hover,
        .hero-image-grid-loop-module__alt-button:focus,
        .hero-image-grid-loop-module__alt-button:active {
          {% if module.styles.alt_button.hover.text.color.color %}
            color: rgba({{ module.styles.alt_button.hover.text.color.color|convert_rgb }}, {{ module.styles.alt_button.hover.text.color.opacity / 100 }});
          {% endif %}
          {% if module.styles.alt_button.hover.background.color.color %}
            background-color: rgba({{ module.styles.alt_button.hover.background.color.color|convert_rgb }}, {{ module.styles.alt_button.hover.background.color.opacity / 100 }});
          {% endif %}
          {% if module.styles.alt_button.hover.border.border %}
            {{ module.styles.alt_button.hover.border.border.css }}
          {% endif %}
          {% if module.styles.alt_button.hover.corner.top_left_radius >= 0 %}
            border-top-left-radius: {{ module.styles.alt_button.hover.corner.top_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.hover.corner.top_right_radius >= 0 %}
            border-top-right-radius: {{ module.styles.alt_button.hover.corner.top_right_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.hover.corner.bottom_left_radius >= 0 %}
            border-bottom-left-radius: {{ module.styles.alt_button.hover.corner.bottom_left_radius ~ "px" }};
          {% endif %}
          {% if module.styles.alt_button.hover.corner.bottom_right_radius >= 0 %}
            border-bottom-right-radius: {{ module.styles.alt_button.hover.corner.bottom_right_radius ~ "px" }};
          {% endif %}
        }

        {% end_scope_css %}
    </style>
{% end_require_css %}

{% set text_class = '' %}
{% set image_class = '' %}

{% if module.img_position == 'img--left' %}

  {% set text_class = 'lg:order-last' %}
  {% set image_class = 'pr-[5vw] pl-[5vw] lg:pr-0 lg:order-first' %}

{% elif module.img_position == 'img--right' %}

  {% set text_class = 'lg:order-first' %}
  {% set image_class = 'pl-[5vw] pr-[5vw] lg:pl-0 lg:order-last' %}

{% endif %}

{####################################################}
{################ Module layout ###################}
{####################################################}

<section class="hero-image-grid-loop-module grid grid-cols-1 gap-y-16 pt-16 md:grid-flow-row md:pt-24 lg:grid-flow-col lg:grid-cols-2 lg:items-center lg:pt-0">
  <div class="mx-[5%] max-w-[40rem] justify-self-start lg:ml-[5vw] lg:mr-20 lg:justify-self-end {{ text_class }}">
    {% inline_rich_text field="title" value="{{ module.title }}" %}
    {% inline_rich_text field="content" value="{{ module.content }}" %}
    <div class="mt-6 flex flex-wrap gap-4 md:mt-8">
      {% if module.is_button %}
        {% set href_one = module.button_group.link_one.url.href %}
        {% if module.button_group.link_one.url.type == "EMAIL_ADDRESS" %}
          {% set href_one = "mailto:" + href_one %}
        {% endif %}
        {% set rel = [] %}
        {% if module.button_group.link_one.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.button_group.link_one.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}
        <a class="hero-image-grid-loop-module__button button" href="{{ href_one|escape_url }}"
          {% if module.button_group.link_one.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ")|escape_attr }}"{% endif %}
        >
          {{ module.button_group.button_text_one|escape_html }}
        </a>
      {% endif %}
      {% if module.is_button and module.is_second_button %}
        {% set href_two = module.button_group_two.link_two.url.href %}
        {% if module.button_group_two.link_two.url.type == "EMAIL_ADDRESS" %}
          {% set href_two = "mailto:" + href_two %}
        {% endif %}
        {% set rel = [] %}
        {% if module.button_group_two.link_two.no_follow %}
          {% do rel.append("nofollow") %}
        {% endif %}
        {% if module.button_group_two.link_two.open_in_new_tab %}
          {% do rel.append("noopener") %}
        {% endif %}

        <a class="hero-image-grid-loop-module__alt-button button alternate-button" href="{{ href_two|escape_url }}"
          {% if module.button_group_two.link_two.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel|join(" ")|escape_attr }}"{% endif %}
        >
          {{ module.button_group_two.button_text_two|escape_html }}
        </a>
      {% endif %}
    </div>
  </div>
  <div class="h-[30rem] overflow-hidden md:h-[40rem] lg:h-screen {{ image_class }}">
    <div class="grid w-full grid-cols-2 gap-x-4">
      <div class="hero-image-grid-loop-module__image-grid -mt-[120%] grid size-full animate-loop-vertically columns-2 grid-cols-1 gap-4 self-center">
        {% for item in module.hero_images %}
          <div class="grid size-full grid-cols-1 gap-4">
            <div class="relative w-full pt-[120%]">
              {% if item.image_field.src %}
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
                <img class="hero-image-grid-loop-module__image absolute inset-0 size-full object-cover"
                    srcset="{{ resize_image_url(item.image_field.src, 288) }} 288w,
                    {{ resize_image_url(item.image_field.src, 468) }} 468w,
                    {{ resize_image_url(item.image_field.src, 736) }} 736w,
                    {{ resize_image_url(item.image_field.src, 928) }} 928w"
                    sizes="(max-width: 320px) 288px,
                            (max-width: 500px) 468px,
                            (max-width: 768px) 736px,
                            928px"
                    src="{{ item.image_field.src }}"
                    alt="{{ item.image_field.alt }}"
                    width="{{ item.image_field.width }}"
                    height="{{ item.image_field.height }}"
                    {{ loadingAttr }}>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="hero-image-grid-loop-module__image-grid grid size-full animate-loop-vertically grid-cols-1 gap-4">
        {% for item in module.hero_images %}
          <div class="grid size-full grid-cols-1 gap-4">
            <div class="relative w-full pt-[120%]">
              {% if item.image_field.src %}
                {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
                <img class="hero-image-grid-loop-module__image absolute inset-0 size-full object-cover"
                    srcset="{{ resize_image_url(item.image_field.src, 288) }} 288w,
                    {{ resize_image_url(item.image_field.src, 468) }} 468w,
                    {{ resize_image_url(item.image_field.src, 736) }} 736w,
                    {{ resize_image_url(item.image_field.src, 928) }} 928w"
                    sizes="(max-width: 320px) 288px,
                            (max-width: 500px) 468px,
                            (max-width: 768px) 736px,
                            928px"
                    src="{{ item.image_field.src }}"
                    alt="{{ item.image_field.alt }}"
                    width="{{ item.image_field.width }}"
                    height="{{ item.image_field.height }}"
                    {{ loadingAttr }}>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
