<section class="faq-one-module px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div class="rb-12 mb-12 w-full max-w-lg md:mb-18 lg:mb-20">
      {% inline_rich_text field="title" value="{{ module.title }}" %}
      {% inline_rich_text field="subtitle" value="{{ module.subtitle }}" %}
    </div>
    <div>
      {% for item in module.faqs %}
        <div class="grid auto-cols-fr grid-cols-1 items-start gap-x-10 gap-y-4 border-t border-border-primary pb-10 pt-5 sm:grid-cols-[0.75fr_1fr] md:gap-x-12 md:gap-y-16 md:pb-12 md:pt-6 lg:gap-x-16 lg:gap-y-20">
          <h2 class="font-bold text-md lg:text-xl">{% inline_text field="question" value="{{ item.question }}" %}</h2>
          <div>
            {% inline_rich_text field="answer" value="{{ item.answer }}" no_wrapper=true %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-12 md:mt-18 lg:mt-20">
      {% inline_rich_text field="bottom_heading" value="{{ module.bottom_heading }}" no_wrapper=true %}
      {% inline_rich_text field="bottom_content" value="{{ module.bottom_content }}" no_wrapper=true %}
      <div class="mt-6 md:mt-8">
        {% set href = module.button_link.url.href %}
        {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
          {% set href = "mailto:" + href %}
        {% endif %}
        <a class="button alternate-button px-6 py-3"
          {% if module.button_link.url.type is equalto "CALL_TO_ACTION"  %}
            href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
          {% else %}
            href="{{ href|escape_url }}"
          {% endif %}
          {% if module.button_link.open_in_new_tab %}
            target="_blank"
          {% endif %}
          {% if module.button_link.rel %}
            rel="{{ module.button_link.rel|escape_attr }}"
          {% endif %}
          >
          {% inline_text field="button_text" value="{{ module.button_text }}" %}
        </a>
      </div>
    </div>
  </div>
</section>