<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Knossos Email Backup Unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% set template_css = "../../css/templates/system-one.css" %}
{% extends "../layouts/base-one.html" %}

{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Unsubscribe" %}

{% block body %}

<section class="backup-unsubscribe-one px-[5%]">
    <div class="relative flex min-h-svh flex-col justify-center overflow-auto py-24 lg:pb-24 lg:pt-16">
        <div class="mx-auto w-full max-w-sm">
            {% module "backup_unsubscribe"
                extra_classes="backup-unsubscribe",
                path="@hubspot/email_simple_subscription"
            %}
        </div>
    </div>
</section>

{% endblock body %}




